body{
    font-family: 'Noto Sans JP', sans-serif;
}

h1,h3{
    font-family: 'Grandstander', cursive;
}

.navbar-brand img{
    width: 175px;
    height: auto;
}

#phone{
    width: 25px;
    height: 25px;
    color: rgb(197, 52, 142);
    font-size: 20px;
    transform:rotate(100deg);
}